
body {
  background-color: #d8f3ea;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: navy;
}

p {
  font-family: "Roboto";
  font-size: 25px;
}

li {
	list-style: none;
	padding-bottom: 5px
}

.doge-image img {
  height: 140px;
  margin-top: 20px;
}
