<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <% include ../partials/head %>
</head>

<body>
<div class="head">
    <h1>Best Ice Cream in SF</h1>
     </div>

<div class="head">
     <h2>Must-try ice cream in San Francisco </h2>
      </div>

<div class="main">
  <p>Need a sweet treat on a hot day? Head over to <a href="https://www.giogelati.com/">the best new ice cream spot </a> in SF
  </p>
   </div>

<div class="main">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img src="https://raster-static.postmates.com/?url=http%3A%2F%2Fcom.postmates.img.prod.s3.amazonaws.com%2Fde1c2125-04ab-48b0-a2b5-db0929eaf813%2Forig.jpg&quality=85&w=1024&h=0&mode=auto&format=&v=4"/>
     </div>
 
<div class="main">
 <h3>Top Ice Cream Spots by neighborhood</h3>
  </div>

<div class="main">
  <ul>
  <li><b>Castro</b>: Castro Fountain</li>
  <li><b>Cole Valley</b>: Ice Cream Bar</li>
  <li><b>Cow Hollow</b>: Gio Gelati</li>
  <li><b>Downtown</b>: Humphry Slocombe</li>
  <li><b>Hayes Valley</b>: Salt & Straw</li>
  <li><b>Japantown</b>: Uji Time</li>
  <li><b>Marina</b>: Smitten</li>
  <li><b>Mission</b>: Garden Creamery</li>
  <li><b>Nob Hill</b>: Lush</li>
  <li><b>Pacific Heights</b>: Philmore Creamery</li>
  <li><b>Potrero</b>: Milkbomb</li>
  <li><b>Richmond</b>: Toy Boat</li>
  <li><b>Russian Hill</b>: Swenson's</li>
  <li><b>Soma</b>: Coletta</li>
  <li><b>Sunset</b>: Hometown Creamery</li>
  
</ul>
 </div>

<div class="head">
     <h2>So many great ice cream places, but there can only be one best in SF</h2>
      </div>
<div class="main">
  <button class="btn btn-default" type="button" onclick="myFunction()">
    Get the scoop
  </button>
  <p id="details"</p>

<script>
function myFunction() {
  document.getElementById("details").innerHTML = "#1 in SF: Gio Gelati";
}
</script>

 </div>



<img src="http://s3.amazonaws.com/trycaviar.com/offers/1775/64415-201603072205.jpg"/>


</body>

</html>