<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

    <h1>Best Ice Cream in SF</h1>
     <h2>Must-try ice cream in San Francisco </h2>
  <p>Need a sweet treat on a hot day? Head over to <a href="https://www.giogelati.com/">the best new ice cream spot </a> in SF
  </p>
    <img src="https://raster-static.postmates.com/?url=http%3A%2F%2Fcom.postmates.img.prod.s3.amazonaws.com%2Fde1c2125-04ab-48b0-a2b5-db0929eaf813%2Forig.jpg&quality=85&w=1024&h=0&mode=auto&format=&v=4"/>
 

 <h3>Top Ice Cream Spots by neighborhood</h3>
  <ul>
  <li>Castro: Castro Fountain</li>
  <li>Cole Valley: Ice Cream Bar</li>
  <li>Cow Hollow: Gio Gelati</li>
  <li>Downtown: Humphry Slocombe</li>
  <li>Hayes Valley: Salt & Straw</li>
  <li>Japantown: Uji Time</li>
  <li>Marina: Smitten</li>
  <li>Mission: Garden Creamery</li>
  <li>Nob Hill: Lush</li>
  <li>Pacific Heights: Philmore Creamery</li>
  <li>Potrero: Milkbomb</li>
  <li>Richmond: Toy Boat</li>
  <li>Russian Hill: Swenson's</li>
  <li>Soma: Coletta</li>
  <li>Sunset: Hometown Creamery</li>
  
</ul>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    Get the scoop
  </button>

 <img src="http://s3.amazonaws.com/trycaviar.com/offers/1775/64415-201603072205.jpg"/>

</body>

</html>